@{
    Layout = "";
    ViewBag.Title = "403";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NüWeb F&B | Access denied</title>

    <!-- Bootstrap -->
    @Styles.Render("~/Libaraies/vendors/bootstrap/dist/css/bootstrap.min.css")
    <!-- Font Awesome -->
    @Styles.Render("~/Libaraies/vendors/font-awesome/css/font-awesome.min.css")

    <!-- Custom Theme Style -->
    @Styles.Render("~/Content/css/custom.min.css")
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">403</h1>
                        <h2>Access denied</h2>
                        <p>
                            Full authentication is required to access this resource. @*<a href="#">Report this?</a>*@
                        </p>
                        <p>
                            Please [<a href="@Url.Action("Index","Login",new { area=""})">click here</a>] to go to previous page.
                        </p>
                        @*<div class="mid_center">
                                <h3>Search</h3>
                                <form>
                                    <div class="col-xs-12 form-group pull-right top_search">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search for...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" >Go!</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>*@
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>

    <!-- jQuery -->
    @Scripts.Render("~/Libaraies/vendors/jquery/dist/jquery.min.js")
    <!-- Bootstrap -->
    @Scripts.Render("~/Libaraies/vendors/bootstrap/dist/js/bootstrap.min.js")
    <!-- FastClick -->
    @Scripts.Render("~/Libaraies/vendors/fastclick/lib/fastclick.js")
    <!-- NProgress -->
    @Scripts.Render("~/Libaraies/vendors/nprogress/nprogress.js")

    <!-- Custom Theme Scripts -->
    @Scripts.Render("~/Scripts/js/custom.min.js")
</body>
</html>



