@model CMS_DTO.CMSCrawler.CMS_CrawlerModels
@using CMS_Shared
@using CMS_Shared.Utilities
<style>
    p{
        margin:10px 0 !important;
    }
</style>
@if (Model != null && Model.Pins != null && Model.Pins.Any())
{
    <div class="form-group">
        @foreach (var item in Model.Pins)
                {
                    var ImageUrl = item.Images != null && item.Images.Count > 0 ? item.Images.FirstOrDefault().url : "";
                    <div class="col-md-2 col-sm-2 col-xs-12" style="margin-bottom:20px;padding-top:10px;border:1px solid rgba(0,0,0,.1);border-radius:5px !important;">
                        <div style="margin-bottom:10px;">
                            <a href="https://www.pinterest.com/pin/@item.ID/" target="_blank">
                                <img src="@ImageUrl" class="img-responsive" alt="@item.Domain" height="236" style="border-radius:5px !important">
                            </a>
                        </div>
                        <div class="info">
                            <div class="info-domain" style="background-color:#cce5ff;border-radius:5px !important;height:70px">
                                &nbsp;&nbsp;<a href="@string.Format("{0}",string.IsNullOrEmpty(item.Link) ? "javascript:void(0)" : item.Link)" style="color:#004085;font-weight:bold" target="_blank" title="@item.Link">@string.Format("{0}", !string.IsNullOrEmpty(item.Domain) && item.Domain.Length > 20 ? item.Domain.Substring(0, 20) + "..." : item.Domain)</a>
                                <p>&nbsp;&nbsp; @item.Created_At.ToString("dd/MM/yyyy")</p>
                            </div>
                            @*<p><span>Ngày crawler</span>&nbsp;&nbsp; @DateTime.Now.ToString("dd/MM/yyyy")</p>*@
                            <p style="background-color:#d4edda;height:50px;line-height:50px;border-radius:5px !important">&nbsp;&nbsp; About @CommonHelper.GetDurationFromNow(item.CreatedDate)</p>
                            <p style="background-color:#f8d7da;height:50px;line-height:50px;border-radius:5px !important">&nbsp;&nbsp;<span>RePin:</span> &nbsp;&nbsp;<span style="color:#721c24;font-weight:bold">@item.Repin_count</span> </p>
                            
                        </div>
                    </div>
        }
    </div>
}

