@model CMS_DTO.CMSCrawler.CMS_CrawlerModels
@using CMS_Shared
@if (Model != null && Model.Pins != null && Model.Pins.Any())
{
    <div class="form-group">
        @foreach (var item in Model.Pins)
                {
                    var ImageUrl = item.Images != null && item.Images.Count > 0 ? item.Images.FirstOrDefault().url : "";
                    <div class="col-md-2 col-sm-2 col-xs-12" style="margin-bottom:20px">
                        <a href="#">
                            <img src="@ImageUrl" class="img-responsive" alt="@item.Domain" height="236">
                        </a>
                        <div class="info">
                           @* <p><span>Link</span> &nbsp;&nbsp; @item.Link</p>*@
                            <p><span>Ngày crawler</span>&nbsp;&nbsp; @DateTime.Now.ToString("dd/MM/yyyy")</p>
                            <p><span>Số lượng</span> &nbsp;&nbsp;20</p>
                            <p><span>Create at</span>&nbsp;&nbsp; @item.Created_At.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
        }
    </div>
}

