@model CMS_DTO.Models.LoginRequestModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crawler Pinterest - Đăng nhập</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Libraries/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="@Url.Content("~/Libraries/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />

    <!-- Animate.css -->
    @*<link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">*@

    <!-- Custom Theme Style -->
    <link rel="stylesheet" href='@Url.Content("~/Content/css/custom.min.css")'>
    <!-- saving the link on iPad homepage with nuweb logo -->
    @*<link href="~/Assets/Images/logo.png" rel="apple-touch-icon" />
        <link href="~/Assets/Images/logo.png" rel="apple-touch-icon" sizes="152x152" />
        <link href="~/Assets/Images/logo.png" rel="apple-touch-icon" sizes="167x167" />
        <link href="~/Assets/Images/logo.png" rel="apple-touch-icon" sizes="180x180" />
        <link href="~/Assets/Images/logo.png" rel="icon" sizes="192x192" />
        <link href="~/Assets/Images/logo.png" rel="icon" sizes="128x128" />*@
</head>

<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm(new { @returnUrl = @Model.ReturnUrl }))
                    {
                        <h1>Đăng nhập</h1>
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(model => model.Email,
                                new
                                {
                                    @type = "email",
                                    @class = "form-control has-feedback-left",
                                    @placeholder = "Email",
                                    @style = "margin-left:5px;",
                                    @required = "required"
                                })
                            <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span>
                        </div>
                        <div class="form-group has-feedback">
                            @Html.PasswordFor(model => model.Password,
                               new
                               {
                                   @class = "form-control has-feedback-left",
                                   @placeholder = "Mật khẩu",
                                   @style = "margin-left:5px;",
                                   @required = "required"
                               })
                            <span aria-hidden="true" class="fa fa-lock form-control-feedback left"></span>
                        </div>

                        <div class="checkbox text-left" style="margin-left:-15px;">
                            <label>
                                @Html.CheckBoxFor(model => model.RememberMe, new { @class = "flat", @check = "true" })
                                Ghi nhớ mật khẩu
                            </label>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default submit">Đăng nhập</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            @Html.ValidationSummary()
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1>
                                    @*<i class="fa fa-cloud"></i>*@
                                    @*<img src="~/Assets/Images/logo.png" height="40" />*@
                                    Phần mềm Crawler Pinterest
                                </h1>
                                <p><strong>&copy; @DateTime.Now.Year.ToString() <a href="#" target="_blank">Hồ Chí Minh</a></strong></p>
                                <p>Phiên bản #<strong>@ViewBag.Version</strong></p>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="@Url.Content("~/Libraries/plugins/jquery.min.js")"></script>
    <!--Bootstrap-->
    <script src="@Url.Content("~/Libraries/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <!--iCheck-->
    <script src="@Url.Content("~/Libraries/plugins/icheck/icheck.min.js")"></script>
    <script src="@Url.Content("~/Libraries/pages/scripts/custom.min.js")"></script>
</body>
</html>