@model CMS_DTO.Models.LoginRequestModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>CMS | User Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Libraries/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libraries/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libraries/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libraries/plugins/uniform/css/uniform.default.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libraries/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="@Url.Content("~/Libraries/plugins/select2/dist/css/select2.min.css")" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/Libraries/css/components.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libraries/css/plugins.min.css")" rel="stylesheet" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="@Url.Content("~/Libraries/pages/css/login.min.css")" rel="stylesheet" />
    <link rel="shortcut icon" href="~/logo.ico" />
</head>
<body class=" login">
    <!-- BEGIN LOGO -->
    @*<div class="logo">
        <a href="javascript:void(0)">
            <img src="../assets/pages/img/logo-big.png" alt="" />
        </a>
    </div>*@
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <div class="login-form">
            @using (Html.BeginForm(new { @returnUrl = @Model.ReturnUrl }))
            {
                <h3 class="form-title font-green">Login</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter user and password. </span>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">User name or email</label>
                    @Html.TextBoxFor(model => model.Email,
                            new
                            {
                                @type = "email",
                                @class = "form-control form-control-solid placeholder-no-fix",
                                @placeholder = "Username",
                                @style = "margin-left:5px;",
                                @required = "required"
                            })
                    @*<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />*@
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    @Html.PasswordFor(model => model.Password,
                        new
                        {
                            @class = "form-control form-control-solid placeholder-no-fix",
                            @placeholder = "Password",
                            @style = "margin-left:5px;",
                            @required = "required"
                        })
                    @*<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />*@
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn green uppercase">Login</button>
                    <label class="rememberme check">
                        @Html.CheckBoxFor(model => model.RememberMe, new { @check = "true" })
                        Remember password
                    </label>
                </div>
                <div style="color: red; ">@Html.ValidationSummary()</div>
                @*<div class="login-options">
                <h4>Hoặc đăng nhập với</h4>
                <ul class="social-icons">
                    <li>
                        <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
                    </li>
                </ul>
            </div>*@
            }
        </div>
        <!-- END REGISTRATION FORM -->
    </div>
    <div class="copyright"> @DateTime.Now.Year © Admin Dashboard CMS. </div>
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="@Url.Content("~/Libraries/plugins/fullcalendar/lib/jquery.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/js.cookie.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/jquery-slimscroll/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/jquery.blockui.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/uniform/jquery.uniform.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/bootstrap-switch/js/bootstrap-switch.min.js")"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/Libraries/plugins/jquery-validation/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/jquery-validation/js/additional-methods.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/select2/dist/js/select2.full.min.js")"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="@Url.Content("~/Libraries/scripts/app.min.js")"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="@Url.Content("~/Libraries/pages/scripts/login.min.js")"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>
