@model CMS_DTO.CMSGroupSearch.CMS_GroupSearchModels

<tr data-id="@Model.Id" style='@string.Format("display:{0}", Model.Status==9?"none":"table-row")' class="KeyRow">
    <td>
        @Html.Hidden(string.Format("ListKeyResult[{0}].ID", Model.OffSet), Model.Id)
        @Html.Hidden(string.Format("ListKeyResult[{0}].OffSet", Model.OffSet), Model.OffSet)
        @Html.Hidden(string.Format("ListKeyResult[{0}].Status", Model.OffSet), Model.Status, new { @class = "GroupStatus" })
        @Html.Hidden(string.Format("ListKeyResult[{0}].Type", Model.OffSet), Model.Type)
        <a class="btn btn-link" href="@Url.Action("Index", "CMSProducts", new { Key = Model.KeySearch})">@Html.Raw(Model.KeySearch)</a>
    </td>
    <td style="text-align: center; ">
        @Html.Raw(Model.Quantity)
    </td>
    <td style="text-align: center; ">
        <button onclick="RefreshTabPanelKey('@Model.Id', '@Model.KeySearch'); return false;">Refresh</button>
    </td>
    <td style="text-align: center; ">
        <a href="#" onclick="DeleteTabPanelKey(this, '@Model.Id'); return false;" @string.Format("display:{0}", Model.OffSet == -1 ? "none" : "block")" >
            <i class="glyphicon glyphicon-minus-sign" style="font-size: 25px; color: red; padding: 5px 0px; "></i>
        </a>
    </td>
</tr>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>